.feed-container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  .from-user {
    align-self: end;
    background-color: #303030;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
}

.feed-scrollable {
  min-height: 50vh;
  max-height: 50vh;
  overflow-y: auto;
}
